@font-face {
  font-family: "Permanent Marker";
  src: url(./fonts/PermanentMarker.ttf) format("truetype"),
    url(./fonts/PermanentMarker.woff) format("woff");
}

body,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}



.page {
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.header {
  height: 100vh;
  background-image: url(./images/self.JPG);
  background-size: cover;
  background-position: center;
}

/* add a CSS rule for the page title here */
.header-title {
  font-family: "Permanent Marker", cursive;
  font-size: 120px;
  line-height: 140px;
  color: white;
  text-transform: uppercase;
  max-width: 1240px;
  margin: auto;
  text-align: center;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.content {
  display: flex;
  justify-content: space-between;
  max-width: 790px;
  margin: 100px auto 50px;
  flex-wrap: wrap;
  /* add missing declarations */
}

/* add CSS rules for cards and their content here */
.card {
  width: 350px;
  margin-bottom: 60px;
  padding: 45px 45px 70px;
  background: #ffffff;
  box-shadow: 4px 4px 5px rgba(0, 132, 255, .4);
}
.card-title {
  font-family: "Permanent Marker", cursive;
  font-size: 24px;
  margin-bottom: 10px;
}
.card-image {
  width: 100%;
  margin-bottom: 25px;
}
.card-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

.footer {
  display: flex;
  /* add missing declarations */
  height: 300px;
  background-color: #000000;
  font-size: 24px;
}

/* add a CSS rule for the footer signature */

.footer_content {
  color: #ffffff;
  font-family: 'Trebuchet MS', sans-serif;
  margin: auto;
  font-weight: bold;
}
